@font-face {
    font-family: "Gardening Font";
    src: url(aAlleyGarden.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background: #3f8938;
}

nav {
    margin-top: 30px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: "Gardening Font";
}

nav a {
    text-decoration: none;
    color: unset;
}

nav a:active {
    color: orange;
}

nav a:hover {
    color: orange;
}