@font-face {
    font-family: "Gardening Font";
    src: url(aAlleyGarden.ttf);
}

@font-face {
    font-family: "Descriptor";
    src: url(Cool\ Cat.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #3f8938;
}

nav {
    margin-top: 0px;
}

nav li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    color: white;
    font-size: 26px;
    font-weight: 400;
    font-family: "Gardening Font", Verdana, Tahoma, sans-serif;
}

nav a {
    text-decoration: none;
    color: unset;
}

nav a:active {
    color: orange;
}

nav a:hover {
    color: orange;
}

nav {
    display: inline-block;
    width: 77%;
}

header {
    margin-top: 10px;
}

header div {
    float: right;
    width: 23%;
    margin-top: 50px;
}

header #website-title {
    font-family: "Gardening Font", Verdana, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: white;
    display: inline;
    line-height: 0%;
}

header #small-website-description {
    font-size: 16px;
    font-family: Descriptor;
    color: orange;
}

footer {
    color: gray;
    background-color: #e6dd3b;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer p {
    /* margin: 0; */
    padding: 4px;
}